<template>
  <div class="hello">
    <h1>{{ msg }}</h1>
    <div>
      <p>
        Selected brands: {{ selectedBrands }} 
      </p>
    </div>
    <div>
      <my-multiselect 
        width="300px"
        :options="brands"
        placeholder="T. Personería"
        display-property="description"
        value-property="code" 
        v-model="selectedBrands"
      />
    </div>
  </div>
</template>

<script>
import MyMultiselect from './MyMultiselect.vue'
export default {
  components: { MyMultiselect },
  name: 'HelloWorld',
  props: {
    msg: String
  },
  data() {
    return {
      selectedBrands: [],
      brands: [
        { code: "IZI", description: "IZIPAY" },
        { code: "VDM", description: "VENDEMAS" },
        { code: "NBZ", description: "NIUBIZ" },
        { code: "VIS", description: "VISA" },
        { code: "MASTER", description: "MASTERCARD" },
        { code: "AMEX", description: "AMERICAN EXPRESS" },
        { code: "RAP", description: "RAPICARD" },
        { code: "PPL", description: "PAYPAL" },
        { code: "PAGO", description: "PAGO EFECTIVO" },
      ],
      persons: [
        { code: "PNN", description: "P. Natural" },
        { code: "PJ", description: "P. Juridica" },
      ]
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
