<template name="component-name">
  <div
    class="my-multiselect"
    @click="handleClick"
    @blur="focused = false"
    tabindex="-1"
    ref="parent"
    :style="{ width: width }"
  >
    <div
      class="my-multiselect__selected"
      v-for="(option, i) in formattedOptions"
      :key="i"
      v-show="option.checked"
    >
      {{ option[displayProperty] }}
      <span
        class="my-multiselect__remove"
        @click="preventClose($event);handleOptionClick(i);"
      >
        &times;
      </span>
    </div>
    <label :class="{'has-data': hasData }">{{ placeholder }}</label>
    <div
      class="my-multiselect__options"
      v-show="focused"
      :style="{ top: optionTop }"
      @click="preventClose"
    >
      <div
        class="my-multiselect__option"
        :class="{ 'my-multiselect__option--checked': selectAll }"
        @click="handleSelectAll()"
      >
       <div class="my-multiselect__checkbox"></div>
        <div class="my-multiselect__text">
          Todos
        </div>
      </div>
      <div
        class="my-multiselect__option"
        :class="{ 'my-multiselect__option--checked': option.checked }"
        v-for="(option, i) in formattedOptions"
        :key="i"
        @click="handleOptionClick(i)"
      >
        <div class="my-multiselect__checkbox"></div>
        <div class="my-multiselect__text">
          {{ option[displayProperty] }}
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    width: {
      type: String,
      default: "333px",
    },
    options: {
      type: Array,
      default: () => [],
    },
    value: {
      default: () => [],
    },
    placeholder: {
      type: String,
      default: "Click to select",
    },
    displayProperty: {
      type: String,
      default: "name",
    },
    valueProperty: {
      type: String,
      default: "value",
    },
  },
  data() {
    return {
      focused: false,
      optionTop: "34px",
      selectAll: false,
    };
  },
  mounted() {
    this.fixTop();
  },
  methods: {
    fixTop() {
      this.optionTop = this.$refs.parent.clientHeight + 10 + "px";
    },
    handleClick() {
      this.focused = !this.focused;
    },
    preventClose(e) {
      e.stopPropagation();
    },
    handleOptionClick(i) {
      console.log(this.options[i]);
      let clickedValue = this.options[i][this.valueProperty];
      let newValue = [...this.value];

      let existIndex = this.value.findIndex((v) => v === clickedValue);

      if (existIndex === -1) {
        newValue.push(clickedValue);
      } else {
        newValue.splice(existIndex, 1);
        this.selectAll = false
      }

      this.$emit("input", newValue);
      setTimeout(this.fixTop, 100);
    },
    handleSelectAll() {
      let newValue = null
      if(this.selectAll) {
        newValue = []
      } else {
        newValue = this.options.map(o => o[this.valueProperty])
      }
      this.selectAll = !this.selectAll

      
      this.$emit("input", newValue)
      setTimeout(this.fixTop, 100);
    }
  },
  computed: {
    formattedOptions() {
      let fo = this.options.map((option) => {
        let checked = this.value.some((v) => v === option[this.valueProperty]);
        return { ...option, checked: checked };
      });
      return fo;
    },
    hasData () {
      return this.formattedOptions.filter(v => v.checked === true).length
    }
  },
};
</script>

<style>
@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed&display=swap");

.my-multiselect {
  background: #fff;
  padding: 6px 12px;
  margin: 8px 0;
  font-family: "Barlow";
  display: inline-block;
  border-bottom: 2px solid #2d1d7e;
  box-sizing: border-box;
  font-size: 14px;
  min-height: 33px;
  min-width: 222px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.my-multiselect:before {
  content: "";
  background-image: url("../assets/down.svg");
  background-repeat: no-repeat;
  background-position: left;
  position: absolute;
  top: 0;
  right: 0;
  width: 25px;
  height: 100%;
}

.my-multiselect:focus {
  outline: none;
}

.my-multiselect__placeholder {
  color: #929292;
}
label {
  position: absolute;
  top: 0;
  transition: all 400ms ease-in-out;
}

label.has-data {
  transform: translateY(-15px);
  font-family: "Barlow Condensed";
  font-size: 16px;
  font-weight: 900;
  color: #2d1d7e;

}
.my-multiselect__selected {
  font-family: "Barlow Condensed";
  color: #2d1d7e;
  font-size: 18px;
  border: 1px solid #2d1d7e;
  padding: 3px 4px;
  padding-right: 0;
  margin: 2px 3px;
}

.my-multiselect__remove {
  cursor: pointer;
  padding-right: 7px;
}

.my-multiselect__remove:hover {
  color: red;
  font-weight: bold;
}

.my-multiselect__options {
  position: absolute;
  top: 34px;
  right: 0;
  left: 0;
  display: flex;
  background: #fff;
  flex-direction: column;
  box-shadow: 0 3px 3px 2px #e3e3e3;
  padding: 5px 0;
  min-height: 55px;
  max-height: 188px;
  overflow-y: auto;
}

.my-multiselect__option {
  padding: 6px 11px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.my-multiselect__options--checked {
  color: #1f7bb8;
  font-weight: bold;
}

.my-multiselect__checkbox {
  width: 20px;
  height: 20px;
  border-radius: 3px;
  border: 2px solid #000;
  margin-right: 7px;
  position: relative;
}

.my-multiselect__option--checked .my-multiselect__checkbox {
  border: 2px solid #6200ee;
  border-radius: 3px;
  background: #6200ee;
}

.my-multiselect__option--checked .my-multiselect__checkbox::after {
  width: 12px;
  height: 6px;
  border-left: 2px solid rgb(255, 255, 255);
  border-bottom: 2px solid rgb(255, 255, 255);
  content: "";
  z-index: 9999;
  position: absolute;
  transform: rotate(-45deg);
  left: 3px;
  top: 4px;
}
</style>